html, body {
	width: 100%;
	height: 100%;
}

body { 
	background-color: #000;
	color: #fff;
}

.desktop-container {
	width: 100%;
	height: 100%;
	background-image: url('../images/background.jpg');
	background-position: center bottom;	
}

.heading {
	margin-top: 50px;
	text-align: center;
}

.brands-section-half {
	text-align: center;
	margin-top: 50px;
}

.brands-section-half img {
	margin-top: 50px;
	height: 300px; 
}

.brand-count {
	font-size: 72px;
}

.mobile-brand-selection {
	text-align: center;
	padding: 40px;
}

.mobile-shaker {
	padding-top: 50px;
	text-align: center;
}
