input {
	width: 240px;
	padding: 5px;
	font-size: 1em;
	text-align: center;
	border: none;
	outline: none;
	font-family: "peachy-keen", sans-serif;
}

input:focus {
	outline: none;
}

p {
	margin: 15px 0;
	font-size: 16px;
	color: #fed61b;
}

p.white {
	margin: 5px 0;
	color: #fff;
}

a {
	color: #fed61b;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #fff;
}