doctype 5
html
  head
    title= "Admin"

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/una_js/una.js')
    script
        UnaScreen.register('', {name: 'resetScreen'}, function(res) {
            UnaScreen.sendToServer('reset', 'yoloyolo');
        });