extends layout_mobile

block header

block content

	script(type='text/javascript', src='/lib/virtualjoystick.js')
	script(type='text/javascript', src='/js/controller/controller.js')
	div(class="pre-game-container")
		div(class="choose-name-container")
			p Enter your name
			input(type = 'textfield',id='playername',name = 'name', value = 'Player')
		div(class="choose-ninja")
			p Choose a Nutty Ninja!
			img(id="red-ninja" src="/images/ninja-red.png" width="128" height="128")
			input(type = 'radio', name='ninjaChoose', id='ninja-red', value = 'red', checked='checked')
			img(id="yellow-ninja" src="/images/ninja-yellow.png" width="128" height="128")
			input(type="radio", name='ninjaChoose', id='ninja-yellow', value = 'yellow')
		div(class="join-button")
			a Play!
	div(class="controller-container")
		div(class="controller-inner-container")
			div(class="joystick joystick-left" id="left-section")
			div(class="joystick joystick-right" id="right-section")
				img(class="controller-button" id="shoot-button" src="/images/controller/shoot.png")
				img(class="controller-button" id="block-button" src="/images/controller/block.png")
