extends layout

block content
  link(rel='stylesheet', href='/css/animate.css')
  link(rel='stylesheet', href='/css/landing.css')
  div(class="landing-container desktop-container")
    div(class="logo")
    div(class="katana katana-left")
    div(class="katana katana-right")
    div(class="text-container")
      h2
        a(href="/play/") New Game
      h2
        a View Games
  div(class="landing-container mobile-container")
    div(class="logo")
    div(class="text-container")
      h3
        a(href="/join/") Quick Join
      input
      h3
        a Join
  script
    $(document).ready(function() {
      $('.logo').addClass('animated bounceInDown');
      setTimeout(function() {
        $('.logo').removeClass('bounceInDown')
        $('.logo').addClass('pulse');
      }, 1000);
      $('.katana-left').addClass('katana-left-final');
      $('.katana-right').addClass('katana-right-final');
    });