extends layout

block header

block content
	link(rel='stylesheet', href='/vendor/jquery.mobile.custom.structure.css')
	link(rel='stylesheet', href='/vendor/jquery.mobile.custom.theme.css')
	link(rel='stylesheet', href='/css/style_controller.css')

	script(type='text/javascript', src='/vendor/virtualjoystick.js')
	script(type='text/javascript', src='/js/nuttyninja_controller.js')

	div(class="joystick joystick-left" id="leftContainer")
	div(class="joystick joystick-right" id="rightContainer")