extends layout

block content
  h1 = title
  p Welcome to #{title}
  p#ping Connecting ...
  p#connected Total Clients : 0

  script(type='text/javascript', src='/vendor/box2d.js')

  script(type='text/javascript', src='/js/utilities.js')
  script(type='text/javascript', src='/js/models/game_object.js')
  script(type='text/javascript', src='/js/models/game.js')
  script(type='text/javascript', src='/js/models/collidable_object.js')
  script(type='text/javascript', src='/js/models/controllable_object.js')
  script(type='text/javascript', src='/js/models/shuriken.js')
  script(type='text/javascript', src='/js/models/shuriken_gun.js')
  script(type='text/javascript', src='/js/models/ninja.js')
  script(type='text/javascript', src='/js/models/tile.js')
  script(type='text/javascript', src='/js/nuttyninja_screen.js')
  script(type='text/javascript', src='/js/map.js')

  canvas(id='gameCanvas', height='420', width='720')
  block game
