extends layout

block content
  h1 = title
  p Welcome to #{title}
  p#ping Connecting ...
  p#connected Total Clients : 0

  script(type='text/javascript', src='/vendor/box2d.js')

  script(type='text/javascript', src='/js/diamond/models/player.js')
  script(type='text/javascript', src='/js/diamond/models/projectile.js')
  script(type='text/javascript', src='/js/diamond/controller.js')
  script(type='text/javascript', src='/js/nuttyninja_screen.js')

  script(type='text/javascript', src='/js/map.js')
  canvas(id='gameCanvas', height='1000', width='1000')
  block game
