extends layout

block content
  link(rel='stylesheet', href='/css/screen.css')
  //- Libraries and utilities
  script(type='text/javascript', src='/lib/box2d.js')
  script(type='text/javascript', src='/lib/stats.min.js')
  script(type='text/javascript', src='/js/misc/utilities.js')
  script(type='text/javascript', src='/lib/pubsub.js')
  script(type='text/javascript', src='/lib/angular.min.js')

  //- Factories
  script(type='text/javascript', src='/js/screen/factories/ninja_school.js')
  script(type='text/javascript', src='/js/screen/factories/gun_factory.js')
  
  //- Game Models
  script(type='text/javascript', src='/js/screen/models/player.js')
  script(type='text/javascript', src='/js/screen/models/game_object.js')
  script(type='text/javascript', src='/js/screen/models/collidable_object.js')
  script(type='text/javascript', src='/js/screen/models/controllable_object.js')
  script(type='text/javascript', src='/js/screen/models/shuriken.js')
  script(type='text/javascript', src='/js/screen/models/shuriken_gun.js')
  script(type='text/javascript', src='/js/screen/models/ninja.js')
  script(type='text/javascript', src='/js/screen/effects.js')
  script(type='text/javascript', src='/js/screen/screen.js')
  script(type='text/javascript', src='/js/screen/screen_keyboard.js')
  script(type='text/javascript', src='/js/screen/screen_socket.js')

  //- Guns
  script(type='text/javascript', src='/js/screen/models/guns/juggernaut_gun.js')

  //- Game Maps
  script(type='text/javascript', src='/js/screen/map/tile.js')
  script(type='text/javascript', src='/js/screen/map/map.js')

  //- Managers
  script(type='text/javascript', src='/js/screen/managers/collision.js')
  script(type='text/javascript', src='/js/screen/managers/timedevent.js')

  //- Game
  script(type='text/javascript', src='/js/screen/game.js')
  script(type='text/javascript', src='/js/screen/leaderboard.js')

  block game

  div(id="leaderboard", ng-app, ng-controller="LeaderboardController")
    //- p {{player_list}}
    table
      tr
        th Name
        th Kills
        th Deaths

      tr(ng-repeat="player in player_list | orderBy:'-kills'")
        td {{player.name}}
        td {{player.kills}}
        td {{player.deaths}}

  script
    var stats = new Stats();
    stats.setMode(1); // 0: fps, 1: ms

    // Align top-left
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';

    document.body.appendChild( stats.domElement );

    setInterval( function () {
        stats.begin();
        stats.end();
    }, 1000 / 60 );

  canvas(id='gameCanvas', height='420', width='720')

  h1 = title
  p Welcome to #{title}
  p#ping Connecting ...
  p#connected Total Clients : 0

  div(id='fps_counter')
