extends layout

block content
  script(type='text/javascript', src='/js/player-controller.js')
  br
  div(class="container mobile-container" ng-controller="PlayerController")
    form(role="form")
      div(class="form-group")
        label(for="name") Name
        input(type="text", class="form-control", id="name", ng-model="name", placeholder="Your Name Here")
      p Select the Box
      div(class="row")
        div(class="col-md-12")
          div(class="sudoku-board")
            div(class="sudoku-row" ng-repeat="row in board track by $index") 
              div(ng-repeat="col in row track by $index" ng-class="col" ng-click="selectSquare(col)")
      br
      p Choose a Value
      div(class="btn-group select-values")
        button(type="button", ng-class="num.class", ng-click="selectValue($index)", ng-repeat="num in nums") {{ num.value }}
      br
      button(class="btn btn-primary btn-block submit-button", ng-click="submitResponse()") Submit
