html, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/backgrounds/dojo.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center top;
	font-family: "peachy-keen", sans-serif;
	width: 100%;
	height: 100%;
}

html.game-mode {
	width: 100%;
	height: 100%;
}

html.game-mode body {
	background-image: none;
	background-color: #222;
}

.pre-game-container {
	position: relative;
	width: 100%;
	text-align: center;
}

html.game-mode .pre-game-container {
	display: none;
}

.pre-game-container div {
	margin: 10px auto;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.7);
	border: 3px solid #fed61b;
	border-radius: 10px;
	padding: 10px;
}

.pre-game-container .choose-name-container {
}

.pre-game-container .choose-name-container input {
	width: auto;
}

.pre-game-container .join-button a {
	display: block;
	width: 100%;
}

.controller-container {
	position: relative;
	display: none;
	height: 100%;
	-webkit-user-select	: none;
	-moz-user-select	: none;
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(left,  #333333 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333333), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #333333 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #333333 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #333333 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to right,  #333333 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=1 ); /* IE6-9 */
	border-radius: 100px;
}

.controller-inner-container {
	background-color: #222;
	border-radius: 80px;
	margin: 25px;
	width: 100%;
}

html.game-mode .controller-container {
	display: flex;
}

.joystick {
	width: 100%;
	height: 200px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.joystick-left {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	padding: 40px 40px 30px;
}

.joystick-right {
	margin: 0 auto;
}

.controller-button {
	width: 100px;
	height: 100px;
	display: inline-block;
}

#shoot-button {
	margin-top: 60px;
	margin-left: 20px;
}

#block-button {
	margin-left: 20px;
	margin-top: 40px;
}
