
html, body { width: 100%; height: 100%; margin: 0; }
.landing-container { position: relative; width: 100%; height: 100%; background-image: url('../images/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center top; overflow: hidden;}
.landing-container div { position: absolute; }
.logo { width: 600px; height: 277px; top: 15%; left: 50%; margin-left: -280px; background-image: url('../images/logo.png'); background-repeat: no-repeat; background-size: 100%;}
.katana { 
	width: 1969px; 
	height: 206px; 
	bottom: 0; 
	background-image: url('../images/katana.png'); 
	background-repeat: no-repeat; 
	background-size: 100%; 
/*	-transform: translate(0,500px);
	-ms-transform: translate(0,500px); 
	-webkit-transform: translate(0,500px);*/
}
.katana-right { 
	transform: translateX(-100px) translateY(300px) rotate(-60deg); 
	-webkit-transform: translateX(-100px) translateY(300px) rotate(-60deg); 
	-ms-transform: translateX(-100px) translateY(300px) rotate(-60deg); 
}
.katana-left { 
	transform: rotate(60deg); 
	-webkit-transform: rotate(60deg); 
	-ms-transform: rotate(60deg); 
}