body {
	padding: 0;
	margin: 0;
}

.controller-container {
	position: relative;
	width: 100%;
	height: 320px;
	margin-bottom: -15px;
}

.controller-container * {
	position: absolute;
}

.controller-container .sliding-column {
	width: 100%;
	height: 100px;
	background-color: orange;
	top: 0;
}

.controller-container .sliding-column.swipe {
	background-color: green;
}

.controller-container .action-column {
	width: 100%;
	height: 100px;
	background-color: red;
	bottom: 0;
}

#full-size {
	/*display: none;*/
}